/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
/* ### Primary

- Purple: hsl(259, 100%, 65%)
- Light red: hsl(0, 100%, 67%)

### Neutral

- White: hsl(0, 0%, 100%)
- Off white: hsl(0, 0%, 94%)
- Light grey: hsl(0, 0%, 86%)
- Smokey grey: hsl(0, 1%, 44%)
- Off black: hsl(0, 0%, 8%) */
:root {
  /* colors */
  --prim-purple: 259, 100%, 65%;
  --prim-light-red: 0, 100%, 67%;
  --neut-white: 0, 0%, 100%;
  --neut-off-white: 0, 0%, 94%;
  --neut-light-grey: 0, 0%, 86%;
  --neut-smokey-grey: 0, 1%, 44%;
  --neut-off-black: 0, 0%, 8%;
  /* Typegraphy */
  --font-primary: "Poppins", sans-serif;
  --font-size: 2rem;
}
/* css reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*End css reset */

/* Global styles */
html {
  font-family: var(--font-primary);
}

body {
  background-color: hsl(var(--neut-light-grey));
  color: hsl(var(--neut-off-black));
}

.main {
  background-color: hsl(var(--neut-white));
  width: min(90%, 1000px);
  margin: 7rem auto 0 auto;
  padding: 2rem 1.5rem;
  border-radius: 1rem 1rem 4rem 1rem;
}

/* inputs */

.inputs-container {
  display: flex;
  gap: 0.75rem;
}

.input-label {
  color: hsl(var(--neut-smokey-grey));
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
}

.input {
  width: 100%;
  font-size: calc(var(--font-size) * 0.6);
  padding: 0.75rem;
  border: 1px solid hsl(var(--neut-light-grey));
  border-radius: 0.3rem;
}

.input:focus {
  outline: none;
  border: 1px solid hsl(var(--prim-purple));
}

/* submit Button */
.button-container {
  position: relative;
  padding: 3.5rem 0;
}

.button-container::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  border-top: 1px solid hsl(var(--neut-light-grey));
}

.submit-btn {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 5;
  border-radius: 50%;
  background-color: hsl(var(--prim-purple));
  border: none;
  padding: 1rem;
}

.submit-icon {
  stroke-width: 5;
  width: 1.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submit-btn:hover {
  background-color: hsl(var(--neut-off-black));
}

/*Results*/
.results {
  margin-bottom: 1rem;
}

.result {
  font-weight: 800;
  font-style: italic;
  font-size: calc(var(--font-size) * 1.5);
  line-height: 1;
}

.result-number {
  color: hsl(var(--prim-purple));
}
